<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
  <key>UIStatusBarHidden</key>
	<false/>
	<key>prefersStatusBarHidden</key>
	<false/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
  <key>NSContactsUsageDescription</key>
  <string>Please allow access to contacts to invite them</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>The application need to access your location to check if you can do the video call</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>The application need to access your location to check if you can do the video call</string>
  <key>NSCameraUsageDescription</key>
  <string>Please allow access to the camera to scan barcodes</string>  
	<key>NSCalendarsUsageDescription</key>
	<string>Please allow access to the calendar to do reservations</string>
  
  <key>NSMicrophoneUsageDescription</key>
  <string>Please allow access to the microphone so you can do the video call</string>
  <key>NSAppleMusicUsageDescription</key>
  <string>Please allow access to the music so you can hear the videos</string>
  <key>NSSiriUsageDescription</key>
  <string>Please allow access to Siri to use it incase you need to use Siri</string>
  


  <key>UIAppFonts</key>
	<array>
		<string>Tajawal-Light.ttf</string>
		<string>Tajawal-Medium.ttf</string>
	</array>
  <key>NSAppTransportSecurity</key>
  <dict>
    <key>NSAllowsArbitraryLoads</key>
    <true/>
  </dict>
	<key>MinimumOSVersion</key>
	<string>9.0</string>
	<key>CFBundleDisplayName</key>
	<string>Signbook</string>
	<key>CFBundleIdentifier</key>
	<string>sign.com.com</string>
	<key>CFBundleVersion</key>
	<string>32.0</string>
	<key>CFBundleName</key>
	<string>Signbook</string>
  <key>CFBundleLocalizations</key>
  <array>
    <string>en</string>
    <string>ar</string>
  </array>
	<key>XSAppIconAssets</key>
	<string>Assets.xcassets/AppIcon.appiconset</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<false/>
</dict>
</plist>
